* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body::before {
    content: "";
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(bc1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.6; 
    z-index: -1; 
    
}


.copyright {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: #000000;
}

.ganti-password{
    padding-top: 15px;
    
}

.polnep {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
    color: #000000;  /* Adjust color as needed */
    font-weight: bold;  /* Optional: makes the text bold */
}

.login{
    position: absolute;
    width: 400px;
    padding: 50px;
    top: 50%;
    left: 25%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    border-radius: 1px solid #111;
    gap: 100px;
    transform: translate(-50%, -50%);
    background: rgb(229, 229, 229);
    border: 1px solid #000000;
    box-shadow: 7px 7px 7px #000000;
    
}
.login h2{
    color: #000000;
    font-weight: 500;
}
.inputArea{
    bottom: 30px;
}

.login .inputArea {
    position: relative;
    width: 100%;
}
.login .inputArea input {
    position: relative;
    width: 105%;
    background: #ffffff;
    border: 1px solid #a9a9a9;
    outline: none;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    margin-top: 10px;
    border-radius: 5px;
}

.show {
    position: absolute;
    top: 10%;
    right:  0;
    left: 260px;
    width: 60px;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.show::before {
    font-size: 0.6em;
    color: aliceblue;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}

.show.hide::before{
    content: "hide";
}

button {
    background-color: #09de29;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    bottom: 50px;
}


input[type="password"]{
    font-family: "Poppins", sans-serif;
}

input[type="text"]{
    font-family: "Poppins", sans-serif;
}
/* .login .box-login{
    margin-bottom: 0px;
} */

.login-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button{
    padding-bottom: 100px;
}

.registrasi {
    padding-bottom: 100px;
}

button:hover{
    background-color: #4CAF50;
}

.foto{
    padding-top: 10%;
    padding-left: 70%;
}


.welcome{
    padding-left: 75.5%;
    padding-top: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}